In [56]:
import pandas as pd

In [57]:
# List of common encodings to try
encodings = ['utf-8', 'latin1', 'iso-8859-1', 'cp1252']

data = None
for encoding in encodings:
    try:
        data = pd.read_csv("GOAL_DATA.csv", encoding=encoding)
        print(f"Successfully read the file with encoding: {encoding}")
        break
    except UnicodeDecodeError:
        print(f"Failed to decode with encoding: {encoding}")

# if data is not None:
#     # View the data to ensure it was read correctly
#     print(data.head())
# else:
#     print("Unable to read the file with the tested encodings.")

data

Failed to decode with encoding: utf-8
Successfully read the file with encoding: latin1

,country,league,alert,verif,sezonul,datameci,orameci,etapa,txtechipa1,place1t,...,wdlh3,wdlh4,wdlh5,wdla1,wdla2,wdla3,wdla4,wdla5,codechipa1,codechipa2
0,England,Premier L,NaN,NaN,21,12/01/2021,2015,1,Burnley,16.0,...,0,0,0,0,0,0,0,0,1030,1020
1,England,Premier L,NaN,NaN,21,13/09/2020,1630,1,Tottenham,1.0,...,0,0,0,0,0,0,0,0,1001,1017
2,England,Premier L,NaN,NaN,21,12/09/2020,2000,1,West Ham,14.0,...,0,0,0,0,0,0,0,0,1022,1016
3,England,Premier L,NaN,NaN,21,13/09/2020,1400,1,West Bromwich,5.0,...,0,0,0,0,0,0,0,0,1006,1042
4,England,Premier L,NaN,NaN,21,20/01/2021,1800,1,Man City,2.0,...,0,0,0,0,0,0,0,0,1009,1003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54943,Mexico,Primera Divisio,NaN,NaN,24,11/11/2023,2300,17,Queretaro,15.0,...,0,0,0,0,0,0,0,0,41011,41018
54944,Mexico,Primera Divisio,NaN,NaN,24,12/11/2023,100,17,Pumas UNAM,5.0,...,0,0,0,0,0,0,0,0,41014,41013
54945,Mexico,Primera Divisio,NaN,NaN,24,12/11/2023,310,17,Tigres,3.0,...,0,0,0,0,0,0,0,0,41005,41012
54946,Mexico,Primera Divisio,NaN,NaN,24,13/11/2023,0,17,Cruz Azul,16.0,...,0,0,0,0,0,0,0,0,41003,41017
54947,Mexico,Primera Divisio,NaN,NaN,24,13/11/2023,205,17,Leon,9.0,...,0,0,0,0,0,0,0,0,41016,41020

In [58]:
col_dict = {
    "country": "Country",
    "league": "League",
    "datameci": "Date",
    "etapa": "Round",
    "txtechipa1": "home_team",
    "txtechipa2": "away_team",
    "place1t": "Home_team_place_total",
    "place1a": "Home_team_place_home",
    "place2t": "Away_team_place_total",
    "place2d": "Away_team_place_away",
    "customh": "o2.5_avg_season",
    "customa": "o2.5_avg_past5",
    "custom3": "o3.5_avg_season",
    "custom4": "o3.5_avg_past5",
    "home_val": "H_ELO_avg",
    "home_val_2": "H_ELO_avg_opp",
    "home_val_3": "H_win_avg",
    "home_val_4": "H_win_1.5_avg",
    "home_val_5": "H_gg_avg",
    "away_val": "A_ELO_avg",
    "away_val_2": "A_ELO_avg_opp",
    "away_val_3": "A_win_avg",
    "away_val_4": "A_win_1.5_avg",
    "away_val_5": "A_gg_avg",
    "scor1": "home_goals",
    "scor2": "away_goals",
    "cotao": "o2.5_odds",
}

In [59]:
data = data.rename(columns=col_dict).filter(items=col_dict.values())

In [60]:
# Convert Date column to datetime type
data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%Y')

# Order by date
data = data.sort_values(by='Date')

# Display the sorted data
data

,Country,League,Date,Round,home_team,away_team,Home_team_place_total,Home_team_place_home,Away_team_place_total,Away_team_place_away,...,H_win_1.5_avg,H_gg_avg,A_ELO_avg,A_ELO_avg_opp,A_win_avg,A_win_1.5_avg,A_gg_avg,home_goals,away_goals,o2.5_odds
54339,Mexico,Primera Divisio,2020-07-25,1,Necaxa,Tigres,8.0,8,4.0,4,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0,3,2.17
54344,Mexico,Primera Divisio,2020-07-26,1,Pumas UNAM,Queretaro,3.0,4,17.0,17,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,3,2,1.89
54342,Mexico,Primera Divisio,2020-07-26,1,Tijuana de Caliente,Atlas,5.0,5,1.0,1,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,3,1,2.05
54345,Mexico,Primera Divisio,2020-07-28,1,Pachuca,Club America,4.0,3,9.0,10,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,1,2,1.89
54340,Mexico,Primera Divisio,2020-07-28,1,Mazatlan,Puebla,17.0,17,13.0,14,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,1,4,2.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45361,Brazil,Serie A,2024-11-27,36,Atletico Mineiro,Juventude RS,10.0,15,15.0,19,...,17.647,64.706,1723.1,1777.4,5.882,0.000,76.471,2,3,2.50
46447,Argentina,Primera Divisio,2024-11-27,24,Sarmiento,Platense,26.0,25,11.0,3,...,8.333,25.000,1944.3,1993.9,33.333,25.000,41.667,1,0,3.60
46449,Argentina,Primera Divisio,2024-11-27,24,Union de Santa Fe,Talleres,6.0,4,4.0,4,...,33.333,16.667,2102.4,1959.9,33.333,16.667,41.667,2,3,3.30
45355,Brazil,Serie A,2024-11-28,35,Cruzeiro,Gremio,7.0,7,14.0,11,...,35.294,52.941,1767.4,1794.1,17.647,11.765,47.059,1,1,2.16
46450,Argentina,Primera Divisio,2024-11-29,25,San Lorenzo,Belgrano,21.0,27,15.0,18,...,9.091,54.545,1949.7,2002.5,9.091,9.091,54.545,0,2,3.05

In [61]:
filtered_df = data[(data["Country"]=="England") & (data["League"]=="Premier L")]
filtered_df

,Country,League,Date,Round,home_team,away_team,Home_team_place_total,Home_team_place_home,Away_team_place_total,Away_team_place_away,...,H_win_1.5_avg,H_gg_avg,A_ELO_avg,A_ELO_avg_opp,A_win_avg,A_win_1.5_avg,A_gg_avg,home_goals,away_goals,o2.5_odds
7,England,Premier L,2020-09-12,1,Fulham,Arsenal,7.0,7,11.0,11,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0,3,1.79
6,England,Premier L,2020-09-12,1,C Palace,Southampton,8.0,8,4.0,4,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,1,0,2.27
5,England,Premier L,2020-09-12,1,Liverpool,Leeds,2.0,2,18.0,18,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,4,3,1.58
2,England,Premier L,2020-09-12,1,West Ham,Newcastle,14.0,14,9.0,9,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0,2,1.97
3,England,Premier L,2020-09-13,1,West Bromwich,Leicester,5.0,5,20.0,20,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0,3,1.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,England,Premier L,2024-05-19,38,C Palace,Aston Villa,13.0,15,4.0,4,...,27.778,61.111,1862.8,1736.4,44.444,16.667,61.111,5,0,1.42
1517,England,Premier L,2024-05-19,38,Luton,Fulham,18.0,18,15.0,16,...,5.556,83.333,1694.4,1769.1,16.667,5.556,55.556,2,4,1.45
1518,England,Premier L,2024-05-19,38,Man City,West Ham,1.0,2,9.0,8,...,55.556,66.667,1728.1,1726.6,38.889,16.667,72.222,3,1,1.20
1519,England,Premier L,2024-05-19,38,Sheff Utd,Tottenham,20.0,20,5.0,6,...,0.000,61.111,1830.6,1754.1,33.333,22.222,61.111,0,3,1.29
1516,England,Premier L,2024-05-19,38,Liverpool,Wolves,3.0,1,14.0,12,...,66.667,66.667,1685.4,1719.9,27.778,11.111,66.667,2,0,1.17

In [62]:
data = data[data["Round"]>=8]
data

,Country,League,Date,Round,home_team,away_team,Home_team_place_total,Home_team_place_home,Away_team_place_total,Away_team_place_away,...,H_win_1.5_avg,H_gg_avg,A_ELO_avg,A_ELO_avg_opp,A_win_avg,A_win_1.5_avg,A_gg_avg,home_goals,away_goals,o2.5_odds
54409,Mexico,Primera Divisio,2020-09-03,8,Club America,Mazatlan,3.0,9,16.0,14,...,66.667,66.667,1952.7,1984.7,0.000,0.000,66.667,3,1,1.57
54402,Mexico,Primera Divisio,2020-09-04,8,Pachuca,San Luis,7.0,11,17.0,9,...,0.000,50.000,1939.3,1931.3,33.333,33.333,66.667,3,1,1.90
54401,Mexico,Primera Divisio,2020-09-04,8,Queretaro,Toluca,13.0,6,6.0,11,...,33.333,66.667,1924.0,1945.0,25.000,0.000,100.000,4,1,1.79
54403,Mexico,Primera Divisio,2020-09-05,8,Necaxa,Leon,12.0,9,2.0,6,...,0.000,50.000,2083.3,2003.7,33.333,0.000,0.000,0,2,1.76
54404,Mexico,Primera Divisio,2020-09-05,8,Juarez,Santos Laguna,15.0,16,11.0,16,...,0.000,0.000,2092.7,2041.7,0.000,0.000,100.000,1,1,1.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45361,Brazil,Serie A,2024-11-27,36,Atletico Mineiro,Juventude RS,10.0,15,15.0,19,...,17.647,64.706,1723.1,1777.4,5.882,0.000,76.471,2,3,2.50
46447,Argentina,Primera Divisio,2024-11-27,24,Sarmiento,Platense,26.0,25,11.0,3,...,8.333,25.000,1944.3,1993.9,33.333,25.000,41.667,1,0,3.60
46449,Argentina,Primera Divisio,2024-11-27,24,Union de Santa Fe,Talleres,6.0,4,4.0,4,...,33.333,16.667,2102.4,1959.9,33.333,16.667,41.667,2,3,3.30
45355,Brazil,Serie A,2024-11-28,35,Cruzeiro,Gremio,7.0,7,14.0,11,...,35.294,52.941,1767.4,1794.1,17.647,11.765,47.059,1,1,2.16
46450,Argentina,Primera Divisio,2024-11-29,25,San Lorenzo,Belgrano,21.0,27,15.0,18,...,9.091,54.545,1949.7,2002.5,9.091,9.091,54.545,0,2,3.05